.scroll-animation {
    opacity: 0;
  }
  .scroll-animation-default {
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s ease-in;
  }
  
  .scroll-animated-default {
    transform: translateY(0);
    opacity: 1;
  }
  
  .delay-300 {
    transition-delay: 300ms;
    animation-delay: 300ms;
  }
  
  .delay-450 {
    transition-delay: 450ms;
    animation-delay: 450ms;
  }
  
  .delay-600 {
    transition-delay: 600ms;
    animation-delay: 600ms;
  }
  
  .delay-750 {
    transition-delay: 750ms;
    animation-delay: 750ms;
  }
  
  .delay-900 {
    transition-delay: 900ms;
    animation-delay: 900ms;
  }
  
  .delay-1050 {
    transition-delay: 1050ms;
    animation-delay: 1050ms;
  }
  
  .swing-in-left {
    animation: none;
  }
  
  .swing-in-left-anim {
    animation-name: swingAnim;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
  }
  
  @keyframes swingAnim {
    0% {
      opacity: 0;
      transform: rotateY(100deg);
      transform-origin: left;
    }
  
    100% {
      opacity: 1;
      transform: rotateY(0);
      transform-origin: left;
    }
  }
  